.btn-xl {
  background-color: white;
  display: inline-block;
  vertical-align: top;
  width: 9rem;
  height: 3rem;
  padding: 1rem;
  text-align: center;
  margin-right: 4rem;
  margin-bottom:2rem;
}

.btn-xl > input {
  display: block;
  border: none;
  text-align: center;
  width: 100%;
  height: 1.5rem;
}
