.container-2-col-petit-grand {
    padding: 2rem;
    max-width: 65rem;
    margin: 0 auto;
}
.container-2-col-petit-grand .partie1{
    display:inline-block;
    vertical-align: top;
    width : 20rem;
    margin-bottom: 3rem;
}
.container-2-col-petit-grand .partie2{
    display:inline-block;
    vertical-align: top;
}
.container-2-col-petit-grand h2{
    margin-top:0;
}

@media (max-width: 540px){ /*si l'écran est  moins large que 960px */
    .container-2-col-petit-grand .partie1 , .container-2-col-petit-grand .partie2 {
        width: 100%;
    }
}
